body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 450px;
  max-height: 90%;
  z-index: 10;
  animation: fadeIn 0.5s ease-out;
  overflow-y: auto;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

h2 {
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 15px;
}

.modal input, .modal select {
  margin: 6px 0;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
}

button {
  margin-top: 12px;
  padding: 12px;
  width: 100%;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  min-height: 100vh;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: #fff;
}

.main-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  max-width: 1200px; 
  width: 100%;
}

.game-container {
  flex: 1; 
  flex-direction: column;
  align-items: start;
  max-width: 600px;
  min-width: 600px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.button_style {
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container h1 {
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-bottom: 0px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 255, 255) rgba(34, 172, 69, 0); /* thumb track */
  /* scrollbar-gutter: stable;  */
}

.animations-blocks {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: end;
}

.animations-blocks-one-man {
  width: 120px;
  height: 160px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.eye-men-one-1 {
  position: absolute;
  top: 42px;
  left: 52px;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 30px;
  /* border: 1px solid black; */
  animation: blink 5s infinite, lookAround 7s ease-in-out infinite;
}

.eye-men-one-2 {
  position: absolute;
  top: 42px;
  left: 62px;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 30px;
  /* border: 0.1px solid black; */
  animation: blink 5s infinite, lookAround 7s ease-in-out infinite;
}

.mouse-men-one {
  position: absolute;
  top: 46px;
  left: 55px;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0);
  /* border-radius: 30px; */
  border-bottom: 2px solid white;
  animation: mousAnim 3s infinite;
}

.mouse-men-sad {
  position: absolute;
  z-index: 11;
  top: 54px;
  left: 55px;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0);
  /* border-radius: 30px; */
  border-top: 2px solid white;
  animation: mousAnim 3s infinite;
}

@keyframes blink {
  0%, 90% { /* Глаз открыт (большую часть времени) */
    height: 5px;
  }
  92%, 94% { /* Закрытие глаза (моргание) */
    height: 2px; /* Сплющиваем глаз, имитируя закрытие */
  }
  96%, 100% { /* Глаз снова открыт */
    height: 5px;
  }
}

@keyframes blink2 {
  0% {
    height: 5px;
    background-color: white;
  }
  25% {
    height: 15px;
  }
  50% {
    height: 25px;
    background-color: rgb(1, 228, 197);
    transform: rotate(360deg);
  }
  75.9% {
    height: 35px;
  }
  76% {
    height: 5px;
  }
  100% {
    height: 5px;
    background-color: white;
  }
}

@keyframes mousAnim {
  0% {
    border-radius: 8px;
  }
  25% {
    border-radius: 5px;
  }
  50% {
    border-radius: 4px;
  }
  75% {
    border-radius: 5px;
  }
  100% {
    border-radius: 8px;
  }
}

@keyframes lookAround {
  0% {
    transform: translateX(-2px); /* Смотрим влево */
  }
  25% {
    transform: translateX(0); /* Центр */
  }
  50% {
    transform: translateX(2px); /* Смотрим вправо */
  }
  75% {
    transform: translateX(0); /* Центр */
  }
  100% {
    transform: translateX(-2px); /* Центр */
  }
}

.animations-blocks-two-man {
  width: 120px;
  height: 160px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.eye-men-two-1 {
  position: absolute;
  z-index: 11;
  top: 42px;
  left: 52px;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 30px;
  /* border: 1px solid black; */
  animation: blink 5s infinite, lookAround 7s ease-in-out infinite;
}

.eye-men-two-2 {
  position: absolute;
  z-index: 11;
  top: 42px;
  left: 62px;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 30px;
  /* border: 0.1px solid black; */
  animation: blink 5s infinite, lookAround 7s ease-in-out infinite;
}

.eye-men-sad-1 {
  position: absolute;
  z-index: 11;
  top: 42px;
  left: 52px;
  width: 6px;
  height: 53x;
  background-color: white;
  border-radius: 30px;
  /* border: 0.1px solid black; */
  animation: blink 5s infinite
}

.eye-men-brow-1 {
  position: absolute;
  z-index: 12;
  top: 38px;
  left: 50px;
  /* transform: rotate(30deg) !important; */
  width: 10px;
  height: 2px;
  background-color: white;
  animation: lookAround1 7s ease-in-out infinite;
}

.eye-men-brow-2 {
  position: absolute;
  z-index: 12;
  top: 38px;
  left: 61px;
  width: 10px;
  height: 2px;
  /* transform:  !important; */
  background-color: white;
  animation: lookAround2 7s ease-in-out infinite;
}

@keyframes lookAround1 {
  0% {
    transform: translateX(-2px) rotate(30deg); /* Смотрим влево */
  }
  25% {
    transform: translateX(0) rotate(30deg); /* Центр */
  }
  50% {
    transform: translateX(2px) rotate(30deg); /* Смотрим вправо */
  }
  75% {
    transform: translateX(0) rotate(30deg); /* Центр */
  }
  100% {
    transform: translateX(-2px) rotate(30deg); /* Центр */
  }
}

@keyframes lookAround2 {
  0% {
    transform: translateX(-2px) rotate(-30deg); /* Смотрим влево */
  }
  25% {
    transform: translateX(0) rotate(-30deg); /* Центр */
  }
  50% {
    transform: translateX(2px) rotate(-30deg); /* Смотрим вправо */
  }
  75% {
    transform: translateX(0) rotate(-30deg); /* Центр */
  }
  100% {
    transform: translateX(-2px) rotate(-30deg); /* Центр */
  }
}

.eye-men-sad-2 {
  position: absolute;
  z-index: 11;
  top: 42px;
  left: 62px;
  width: 6px;
  height: 3px;
  background-color: white;
  border-radius: 30px;
  /* border: 0.1px solid black; */
  animation: blink 5s infinite
}

.eye-men-sad-two-2 {
  position: absolute;
  z-index: 12;
  top: 42px;
  left: 62px;
  width: 5px;
  height: 20px;
  background-color: rgb(1, 228, 197);
  border-radius: 30px;
  /* border: 0.1px solid black; */
  animation: blink2 5s infinite
}

.tear-left {
  position: absolute; /* Важно для позиционирования псевдоэлементов */
  width: 10px;
  height: 8px;
  border-radius: 30px;
  /* background-color: blue; */
  opacity: 0;
  background: linear-gradient(to bottom, rgba(0, 89, 255, 0.8), rgba(0, 204, 255, 0.7));
  
  filter: blur(0.5px);
  animation: fall 2s linear infinite;
}

.tear-left:nth-child(1) {
  animation-delay: 0s;
}

.tear-left:nth-child(2) {
  animation-delay: 0.5s;
}

.tear-left:nth-child(3) {
  animation-delay: 1s;
}

.tear-left:nth-child(4) {
  animation-delay: 1.5s;
}

@keyframes fall {
  0% {
    transform: translate(0, 0);  /* Начальное положение */
    opacity: 0;
  }
  25% {
    transform: translate(-15px, -10px); /* Первая точка дуги */
    opacity: 1;
  }
  50% {
    transform: translate(-30px, -20px); /* Вершина дуги */
    opacity: 1;
  }
  75% {
    transform: translate(-45px, -10px); /* Спуск по дуге */
    opacity: 1;
  }
  100% {
    transform: translate(-55px, 0px);  /* Конечная позиция */
    opacity: 0;
  }
}

.tear-right {
  position: absolute; /* Важно для позиционирования псевдоэлементов */
  width: 10px;
  height: 8px;
  border-radius: 30px;
  left: -10px;
  opacity: 0;
  background: linear-gradient(to bottom, rgba(0, 89, 255, 0.8), rgba(0, 204, 255, 0.7));
  
  filter: blur(0.5px);
  animation: fall-right 2s linear infinite;
}

.tear-right:nth-child(1) {
  animation-delay: 0s;
}

.tear-right:nth-child(2) {
  animation-delay: 0.5s;
}

.tear-right:nth-child(3) {
  animation-delay: 1s;
}

.tear-right:nth-child(4) {
  animation-delay: 1.5s;
}

@keyframes fall-right {
  0% {
    transform: translate(0, 0);  /* Начальное положение */
    opacity: 0;
  }
  25% {
    transform: translate(15px, -10px); /* Первая точка дуги */
    opacity: 1;
  }
  50% {
    transform: translate(30px, -20px); /* Вершина дуги */
    opacity: 1;
  }
  75% {
    transform: translate(45px, -10px); /* Спуск по дуге */
    opacity: 1;
  }
  100% {
    transform: translate(55px, 0px);  /* Конечная позиция */
    opacity: 0;
  }
}

.mouse-men-two {
  position: absolute;
  z-index: 11;
  top: 46px;
  left: 55px;
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0);
  /* border-radius: 30px; */
  border-bottom: 2px solid white;
  animation: mousAnim 3s infinite;
}

.animations-blocks-stone {
  width: 100px;
  height: 140px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.animations-blocks-one-man img{
  width: 100px;
  height: 140px;
  /* outline: 1px solid black; */
}

.animations-blocks-stone img{
  width: 100px;
  /* height: 180px; */
}

.animations-blocks-two-man img{
  width: 100px;
  height: 140px;
  transform: scaleX(-1);
}


/* Жеско анмириуем css */
/* .animate-element {
  opacity: 0;
  transform: translateY(20px);

  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */













.moves-table {
  max-height: 82vh;
  flex: 1; 
  width: 500px;
  /* max-width: 400px; */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.table-block {
  /* flex: 1; */
  display: flex;
  overflow-y: auto;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

button {
  margin: 10px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
}

button.disabled {
  background-color: #777;
  pointer-events: none;
  cursor: not-allowed;
}

#result {
  margin-top: 20px;
  font-size: 20px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

#stats {
  margin-top: 20px;
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.moves-table th, .moves-table td {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
  color: #fff;
}

.moves-table th {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}


.get_data_user {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_two {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.308);
  /* max-width: 600px; */
  /* height: 800px; */
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  top: 0px;
  left: 0px;
}

.modal-content_two {
  margin: 20px 40px;
  width: 300px;
  border-radius: 8px;
  background-color: #00010294;
}

.modal {
  flex: 1;
  /* display: none; */
  /* position: fixed; */
  /* z-index: 1; */
  /* left: 0; */
  /* top: 0; */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  
  max-width: 600px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.modal-content {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 400px;
  max-width: 90%;
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  text-align: center;
  color: #fff;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
  margin: 10px;
}

.close:hover,
.close:focus {
  color: #fff;
}

.mode-selection button {
  display: block;
  margin: 10px auto;
  width: 80%;
  max-width: 300px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.mode-selection button:hover {
  background-color: #45a049;
  transform: translateY(-2px);
}

.mode-selection button:active {
  transform: translateY(0);
}

@media (max-width: 768px) {
  .main-container {
      flex-direction: column; 
      align-items: center; 
  }

  .game-container, .moves-table {
      max-width: 100%; 
  }

  .buttons_chek {
    margin: 10px;
    flex-direction: column;
  }

  #result {
    font-size: 16px;
    text-align: center;
    gap: 5px;
  }

  .table-block {
    justify-content: center;
    align-items: center;
  }

  .modal {
    width: auto;
    height: auto;
  }

  .buttons_chek button{
    width: 100%;
  }

  .moves-table {
      margin-top: 20px; 
      /* width: 100vw; */
      width: calc(1vh * 100 - 42px);
      padding: 0px;
      border: none;
  }

  .moves-table p {
    margin: 10px;
  }

  .game-container {
    min-width: 0px;
    margin: 5px;
    padding: 10px;
  }

  .moves-table-block {
    flex-direction: column;
    width: 100vw;
  }

  #root {
    width: 100vw;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Добавьте отступ сверху, если нужно */
}